@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-coffee-50 text-coffee-900;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-coffee-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-coffee-500 rounded-full;
}